<h3 class="text-center" style="margin-top: 50px;">Order List</h3>

<div class="container" >
    <a routerLink="/order" style="margin-bottom: 10px;"class="btn btn-primary">
        <i class="fas fa-plus"></i>
        New Item
    </a>
    <table id="example" class="table table-striped nowrap table-hover " style="width:100%">
        <thead>
            <tr style="font-size:medium;" class="table-primary">
                <th hidden>#</th>
                <th>Order No</th>
                <th hidden>CustomerId</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Is Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-size: small;" *ngFor="let item of orders">
                <th hidden>{{ item.id }}</th>
                <td>{{ item.code }}</td>
                <td hidden>{{ item.customerId }}</td>
                <td>{{ item.customerName}}</td>
                <td>{{item.orderDate}}</td>
                <td>{{item.isActive}}</td>
                <td>
                    <a  routerLink="/order/{{item.id}}" class="btn btn-warning">
                        <i class="fas fa-pen"></i>
                    </a>
                    <button  type="button" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

